#### joe made this: https://goel.io/joe

### Custom ####
lib/
mnesia/
otp/*.app
otp/*.erl
otp/*.config

#####=== Erlang ===#####

.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar

